<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wuhao.dao.usrDao">
    <resultMap id="usr" type="com.wuhao.model.usr">
        <id column="id" jdbcType="INTEGER" property="id"></id>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
    </resultMap>

    <select id="getAllUsr" resultType="com.wuhao.model.usr">
        select * from usr
    </select>
</mapper>